{% extends 'base.html.twig' %}

{% block title %}New WaitingUser{% endblock %}

{% block body %}
    <h1>Create new WaitingUser</h1>

    {{ include('waiting_user/_form.html.twig') }}

    <a href="{{ path('waiting_user_index') }}">back to list</a>
{% endblock %}
